html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    color: #84ceeb;
}

table {
    background-color: #c1c8e4;
    border-collapse: collapse;
    width: 100%;

    th {
        color: #ffffff;
        background-color: #8860d0;
        height: 50px;
        font-size: 20px;
    }

    td {
        background-color: #c1c8e4;
        color: #8860d0;
    }
}

.task-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background-color: #5680e9;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }
}

.task-table {
    position: absolute;
    background-color: #c1c8e4;
    top: 250px;
    width: 100%;
}

.task-footer {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    
    background-color: #5ab9ea;
    color: #ffffff;
}