/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%;
  width: 100%;
}

.bgimg {
  /* Background image */
  background-image: url(RoominderImage.jpg);
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 30px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the middle */
.middle h1{
  position: absolute;
  top: 25%;
  left: 45%;
  color: #E8A87C;
  text-shadow: 
   0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}
/* Style the <hr> element 
hr {
  margin: 4px;
  top: 45%;
  left: 50%;
  width: 100%;
}*/

.middle p{
  position: absolute;
  top: 33%;
  left: 48%;
  color: #E8A87C;
} 

.login_ {
  position: absolute;
  top: 35%;
  left: 53.2%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: blue;
  margin: 5px;
}

#roomiPic{
  background-image: url(roomi.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-color: #800080;
  border-radius: 50%; /* Curve of border corners */
  color: transparent; /* Hide the 'submit' text */
  padding: 20px;
  margin: 6px;
}

.welcomeButtons {
  float: right;
  display: inline-block;
  background-color: #800080; /* Purple background color */
  border-radius: 30px; /* Curve of border corners */
  text-transform: uppercase; /* Make letters uppercase */
  color: #E8A87C; /* Text color */
  padding: 20px;
  margin: 6px;
}

/* Position text in the bottom-left corner */
.footer {
  position: absolute;
  bottom: 0%;
  left: 50%;
  color: #E8A87C;
  font-size: 15px;
}
