<div class="bgImage">
    <header>
        <h1 id="roomiTag">Roominder</h1>
        <%= image_tag('roomi.png') %>
    </header>
    <body>
    <h1>Editing Secure User</h1>
    <%= render 'form', secure_user: @secure_user %>
    <%= link_to 'Show', @secure_user, :class => 'backLink' %> |
    <%= link_to 'Back', secure_users_path, :class => 'backLink' %>
</body>
<footer> 
        &copy Roominder 2020
    </footer>
</div>
