<div class="bgimg">
  <div class="topleft">
    <p></p>
  </div>
  <!--Title and buttons-->
  <div class="middle">
    <h1>Roominder</h1>
    <hr>
      <div class = "appbuttons">
        <button id = "sign" type="button">Sign Up</button>
        <button id = "login" type="button">Login</button>
      </div>
  </div>
  <!--footer-->
  <div class="bottomleft">
    <p>&copy; Roominder 2020</p>
  </div>
</div>
<!--<footer>&copy; Roominder 2020</footer>-->