<div class="bgimg">
  <div class="topleft">
    <p></p>
  </div>
  <!--Title and buttons-->
  <div class="middle">
    <h1>Roominder</h1>
    <div class = "appbuttons">
      <div class = "login">  
        <% if current_user %>
          Logged in as <%= current_user.username %>.
          <%= button_to "Log Out", logout_path %>
        <% else %>
          <%= button_to "Sign Up", signup_path, class: 'button' %>
          <%= button_to "Log In", login_path, class: 'button' %>
        <% end %>
      </div>
    </div>
  </div>
  <!--footer-->
  <!-- TODO: on frontend, rename class to something more descriptive. "footer"? -->
  <div class="footer">
    <p>&copy; Roominder 2020</p>
  </div>
</div>
<!--<footer>&copy; Roominder 2020</footer>-->