<%= form_with url: sign_up_new_room_path, local: true do |form| %>
    <p>
        <%= form.label :name, "What do you want to call the home?" %><br>
        <%= form.text_field :name %>
    </p> 
        <%= form.submit 'Create Room!'%>
    </p>
<% end %>